<% content_for :title do 'Подтверждение заказа' end %>
<main role="main" class="">
	<div class="wrapper">
		<nav class="breadcrumbs">
			<ul>
				<li>
					<a href="/">YouHM.COM</a>
				</li>
				<li class="">
					<a href="#" onclick="return false;">ПОДТВЕРЖДЕНИЕ ЗАКАЗА</a>
				</li>
			</ul>
		</nav>
		<header class="checkout-header">
			<h1>ПОДТВЕРЖДЕНИЕ ЗАКАЗА</h1>
			<ul class="checkout-breadcrumbs items-3 clearfix">
				<li class="item">1. ВОЙТИ</li>
				<li class="item">2. ДОСТАВКА И ОПЛАТА</li>
				<li class="item item-current item-last">3. СПАСИБО</li>
			</ul>
		</header>
		<div class="row">
			<div class="grid col-12">
				<div class="checkout-confirmation">
					<div class="box">
						<h1 class="box-headline">ПОДТВЕРЖДЕНИЕ ЗАКАЗА</h1>
						<h2 class="thanks-for-shopping box-content">Спасибо, что Вы совершили покупку в нашем магазине</h2>

						<div class="box-content order-confirmation-order-delivered">
							<p class="descriptive">
								На Ваш телефон <%= @user.tel %> было отправлено смс с номером карты <b>(4149 4378 3238 9686 - Лазуткина Алена Вячеславовна)</b> для оплаты заказа. После оплаты в личном кабинете нажмите "Я оплатил" и с вами свяжется наш менеджер для подверждения заказа. Номер карты также указан в <a href="/my-overview">ЛИЧНОМ КАБИНЕТЕ</a>
							</p>
							<a href="/my-overview" class="slide-down-toggle">ПЕРЕЙТИ В ЛИЧНЫЙ КАБИНЕТ</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

  <span role="status" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></span>
  <% content_for :javascript do %>
  <script>
  	$(document).ready(function(){
	  	$('.slide-down-toggle').click(function(){
	  		$('.checkout-confirmation .view-order').toggle();
	  	});
	  	localStorage.removeItem('myCart');
	  	// $.ajax('https://api.mobizon.com/service/user/getownbalance?apiKey=db58cbd777533f7fdd07c3145ad304028af83aca', {type: 'GET', success: function(req){
	  	// 		console.log(req);
    //   }});
    	"use strict";
		var bsg = require( '/home/hm/web/yourhm.com.ua/kpsrtf/node_modules/bsg-nodejs' )( 'test_y2zrz5UZDIQcXa9TEVhW' );

		bsg.createSMS(
		        {
		                destination: "phone",
		                originator:"testsms",
		                body:"message text",
		                msisdn:"380939522460",
		                reference:"16140",
		                validity:"1",
		                tariff:"9"
		        }
		).then(
		        SMS => console.log( "SMS created:", SMS ),
		        error => console.log( "SMS creation failed:", error )
		);
  	});
  </script>
  <% end %>